@import url('https://fonts.googleapis.com/css?family=Courgette');

#root {
    height: 100%;
    overflow: hidden;
}

h2{
	text-align: center;
	font-weight: bold;
	font-family: 'Courgette', cursive;
	font-size: 60px;
	color: #efefef;
	z-index: 1;
}

@media only screen and (max-width: 768px) {

  /* For mobile phones: */
  h2{
  	font-size: 45px;
  }

}