body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  width: 100%;
  background: -webkit-linear-gradient(to right, #ff4b1f, #ff9068);
  background: linear-gradient(to right, #ff4b1f, #ff9068); 
 /* background: url('https://img.clipartfest.com/37e186e198fac082f3c9736ce4f0c8f5_kitchen-wall-background-kitchen-background-clipart_1300-1095.jpeg') no-repeat;*/
/*   background: url('bg.jpg'); */
}

@media only screen and (max-width: 768px) {

  /* For mobile phones: */
  body{
  	background-size: auto;
  }

}
